server {
    listen 80;

    location ${REDIRECT_1_PATH} {
        rewrite ^${REDIRECT_1_PATH}$ ${REDIRECT_1_TARGET_URL} permanent;
    }
    location ${REDIRECT_2_PATH} {
        rewrite ^${REDIRECT_2_PATH}$ ${REDIRECT_2_TARGET_URL} permanent;
    }
    location ${REDIRECT_3_PATH} {
        rewrite ^${REDIRECT_3_PATH}$ ${REDIRECT_3_TARGET_URL} permanent;
    }
    location ${REDIRECT_4_PATH} {
        rewrite ^${REDIRECT_4_PATH}$ ${REDIRECT_4_TARGET_URL} permanent;
    }
    location ${REDIRECT_5_PATH} {
        rewrite ^${REDIRECT_5_PATH}$ ${REDIRECT_5_TARGET_URL} permanent;
    }
   
    location ${PROXY_1_PATH} {
        proxy_pass ${PROXY_1_TARGET_URL};
    }
    location ${PROXY_2_PATH} {
        proxy_pass ${PROXY_2_TARGET_URL};
    }
    location ${PROXY_3_PATH} {
        proxy_pass ${PROXY_3_TARGET_URL};
    }
    location ${PROXY_4_PATH} {
        proxy_pass ${PROXY_4_TARGET_URL};
    }
    location ${PROXY_5_PATH} {
        proxy_pass ${PROXY_5_TARGET_URL};
    }
    
    proxy_set_header        Host               testwebsite.skycell.ch;
    proxy_set_header        X-Real-IP          ${remote_addr};
    proxy_set_header        X-Forwarded-For    ${proxy_add_x_forwarded_for};
    proxy_set_header        X-Forwarded-Host   testwebsite.skycell.ch:443;
    proxy_set_header        X-Forwarded-Server testwebsite.skycell.ch;
    proxy_set_header        X-Forwarded-Port   443;
    proxy_set_header        X-Forwarded-Proto  https;
}
